/* 
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
} */

body {
  font-family: "Times New Roman", Times, serif !important;
}
/* start section */
#start {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.2)),
    url(./img/image.jpg) center/cover no-repeat fixed;
  min-height: 100vh;
  color: #d9d9d9;
  font-size: 1rem;
}

.navbar-height {
  min-height: 10vh;
}

.nav-item {
  color: #d9d9d9 !important;
  font-size: 1.2rem;
}

.navbar-toggler:not(:disabled) {
  outline: none;
}

.blockquote-height {
  min-height: 25vh;
}

.quote {
  font-size: 1.5rem;
}

/* skills section */
.skills-height {
  height: 55vh;
}

.skills-underline {
  width: 125px;
  height: 8px;
  margin: 0 auto;
}

.icon {
  width: 75px;
  height: 75px;
  margin-top: 5px;
}

/* about-me section */
#about-me {
  font-size: 1.2rem;
}
.about-me-underline {
  width: 180px;
  height: 8px;
  margin: 0 auto;
}

.carousel-inner {
  border: 1px solid #dc3545;
  box-shadow: 5px 10px 18px #cccccc;
}

.carousel-item {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ed0034' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ed0034' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

/* projects section */

#projects {
  background-color: #e6e6e6;
}

.projects-underline {
  width: 170px;
  height: 8px;
  margin: 0 auto;
}

.card {
  border: 1px solid #333333 !important;
  box-shadow: 5px 10px 18px #333333;
}

.project {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.btn {
  background-color: #999999 !important;
  border: 1px solid #dc3545 !important;
  border-radius: 8px !important;
  color: #f2f2f2 !important;
  box-shadow: none !important;
  font-size: 1.2rem !important;
}

.card-footer {
  background-color: #595959 !important;
  color: #e6e6e6;
}

.skill-icon {
  width: 30px;
  height: 30px;
}

/* footer section */

#footer {
  color: #f2f2f2;
  background-color: #666666;
}

.footer-height {
  height: 10vh;
}

@media (max-width: 767px) {
  #start {
    font-size: 0.8rem;
  }

  .nav-item {
    font-size: 1rem;
  }

  .icon {
    width: 60px;
    height: 60px;
    margin-top: 2px;
  }

  .text-uppercase {
    font-size: 1.5rem;
  }

  .skills-underline {
    width: 100px;
  }

  .about-me-underline {
    width: 130px;
  }

  .projects-underline {
    width: 130px;
  }
}

@media (max-width: 576px) {
  #start {
    font-size: 0.5rem;
  }

  .fa-quote-left,
  h4 {
    font-size: 1rem !important;
  }
  .quote-icon {
    font-size: 1.1rem;
  }
  .icon {
    width: 40px;
    height: 40px;
    margin-top: 0;
  }
}
